body {
  background-color: #fffcff;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
    brown: #50514F
    light greenish: #CBD4C2
    white: #fffcff
    bluish: #247BA0
    beige: #C3B299
*/
